
.search-div{
    width: 80%;
    padding: 15px ;
    padding-left: 1.5rem;
    border-radius: 4rem;
    background-color: var(--darkgrey);
    margin: auto;
    display: flex;
    align-items: center;
   margin-top: 1.5rem;
   margin-bottom: 1.5rem;
}

.search-box{
    padding: 5px;
    width: 100%;
    border-radius: 1.5rem;
    color: var(--white);
    background-color: var(--darkgrey);
    border: none;
    outline: none;
    font-weight: 600;
}

.search-box::placeholder{
    font-size: 1rem;
}