

.coin-wrapper{
    background-color: var(--darkgrey);
    width: 95%;
    margin: auto;
    border-radius: 1.5rem;
    padding: 1rem;
}
.desc a{
    text-decoration: underline;
}

.desc a:hover{
    color: var(--blue) !important;
}