.grid-container{
    width: 300px;
    background-color: var(--darkgrey);
    height: 300px;
    border: 2px solid var(--darkgrey);
    border-radius: 0.75rem;
    transition: all 0.3s ease;
}

.green-border:hover{
    transform: scale(1.04);
    border: 2px solid var(--green);
}
.red-border:hover{
    transform: scale(1.04);
    border: 2px solid var(--red);
}

.info-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 1rem 1.5rem;
}

.coin-logo{
    height: 3.2rem;
    width: 3.2rem;

}

.coin-symbol{
    color: var(--white);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
}
.coin-name{
    color: var(--grey);
    text-transform: capitalize;
    font-size: 0.8rem;
    margin: 0;
}
.name-col{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.chip-flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1.5rem;
    text-align: center;
    gap: 1rem;  
}


.price-chip{
    border: 2px solid var(--green);
    border-radius: 1.5rem;
    padding: 0.35rem 1.3rem;
    font-weight: 600;
    color: var(--green);
    font-size: 1rem;
    transition: all 0.3s ease;
}
.price-chip:hover{
    background-color: var(--green);
    color: var(--white);
}
.red:hover{
    background-color: var(--red);
    color: var(--white);
}

.red{
    color: var(--red);
    border: 2px solid var(--red);
}

.arrow-green{
    border: 2px solid var(--green);
    padding: 0.5rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--green);
    transition: all 0.3s ease;
}

.arrow-green:hover{
    background-color: var(--green);
    color: var(--white);
}
.arrow-red:hover{
    background-color: var(--red);
    color: var(--white);
}

.arrow-red{
    border: 2px solid var(--red);
    padding: 0.5rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--red);
}

.rate-green{
    margin: 1.5rem;
    color: var(--green);
}
.rate-red{
    margin: 1.5rem;
    color: var(--red);
}
.vol-market{
    color: rgb(207, 200, 200);
    margin: 1.5rem;
    font-size: 0.75rem;
    line-height: 5px;
    font-weight: 600;
}